html{
	background-color: #EDF2C5;
	box-sizing: content-box;
}

*,*:before,*:after {
	box-sizing: inherit
}


.container{
	width: 1264px;
	margin: 0 auto;
	margin-top: 53px;
	margin-bottom: 35px;
}


/* Header Style */
.header {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.header-title{
	color: #778A50;
	font-family: Arial Black;
	font-size: 44px;
	max-width: 271px;
	max-height: 42px;
	margin-right:0px;
	margin-left:0;
	margin-top: 0;
	margin-bottom: 0;
	padding:0;
}

.header-img{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-left: 790px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-top: 17px;

}
.img1{
	width: 25px;
	height: 25px;
}

.img2{
	width: 25px;
	height: 25px;
	margin-left:10px;
	margin-right: 10px;
}

.header-button{
	display:flex;
	flex-direction: row;
	justify-content: flex-end;
}

.header-box-content-1{
	border-width: 1px;
	border-color: #778A50;
	border-radius: 3px;
	border-style: solid;
	font-family: Arial BoldMT;
	font-size: 14px;
	color: #778A50;
	height: 25px;
	width: 60px;
	text-align: center;
	margin-right: 10px;
}

.header-box-content-2{
	border-width: 1px;
	border-color: #778A50;
	border-radius: 3px;
	border-style: solid;
	font-family: Arial BoldMT;
	font-size: 14px;
	color: #778A50;
	height: 25px;
	width: 50px;
	text-align: center;
}
/* Navitation Bar Style */


.nav-list{
	background-color: #778A50;
	margin-bottom: 30px;


}

.nav-list-item{
	
	display: inline-block;
	margin:0 auto;
	font-family: Arial Black;
	font-size: 16px;
	color: #EDF2C5;
	text-align: center;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-right: 30px;
	padding-left: 30px;



}
/*Banner Style*/
.banner{
	margin-bottom:30px;
}

.banner-img{
	width:100%;
}

/*Content Style*/
.content{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 20px;
}


.leftcontent{
	width:47.5%;

}

.leftimg-title{
	background-color: #778A50;
	font-family: Arial Black;
	font-size: 16px;
	color: #EDF2C5;
	padding-top: 15px; 
	padding-bottom: 15px;
	padding-left: 30px;
	margin-bottom: 10px;
}

.leftimg{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.img{
	width: 190px;
	height: 190px;
}


.rightcontent{
	width:47.5%;
}

.rightcontent-title{
	background-color: #778A50;
	font-family: Arial Black;
	font-size: 16px;
	color: #EDF2C5;
	padding-top: 15px; 
	padding-bottom: 15px;
	padding-left: 30px;
	margin-bottom: 10px;
}

.main-area{
	background-color: #F7FBDA;
	width:100%;
}

.main-area-p{
	font-family: ArialMT Regular;
	font-size: 12px;
	line-height: 1.33;
	color: #7D7D7D;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 15px;
	padding-right: 15px;
}
.line2{
	max-width: 300px;
	max-height: 1px;
	color: #7D7D7D;
}
.contact-information{
	font-family: ArialMT Regular;
	font-size: 12px;
	line-height: 1.83;
	color: #7D7D7D;
	padding-left:15px;
	padding-bottom: 16px;
}


/* Footer Style */
.footer{

}

.footer-content{
	background-color: #778A50;
	display: flex;
	justify-content: center;
	margin-top: 0;
	margin-left:0;
	font-family:ArialMT Regular;
	font-size: 12px;
	color: #EDF2C5;
	padding-left: 479px;
	padding-right: 479px;
	padding-top: 24px;
	padding-bottom: 25px;
}

